name: Build Unsigned iOS IPA

on:
  workflow_dispatch:

jobs:
  build-ios:
    runs-on: macos-15

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup XCode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '26.0.1'

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '9.0.x'

      - name: Install MAUI workload
        run: dotnet workload install maui

      - name: Build IPA
        run: dotnet publish Score++/Score++.csproj -f net9.0-ios -c Release -p:EnableCodeSigning=false

      - name: Upload IPA Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Score++-iOS-IPA
          path: Score++/bin/Release/net9.0-ios/ios-arm64/publish/**
